*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;

}

.wrapper {
	width: 90%;
	max-width: 700px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;


	.box {
		border-radius: 10px;
		box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.5);
		
		.toolbox {
			padding: 15px 25px;
			display: flex;
			column-gap: 20px;
			justify-content: center;
			border: 1px solid rgb(167, 97, 97);
			background-color: rgb(204, 218, 218);
			
			.toobox-wrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				text-align: center;
				column-gap: 20px;

				.toolbox__btn {
					padding: 15px 25px;
					border-radius: 15px;
					font-size: 15px;
					background: rgb(52, 82, 231);
					color: #fff;
					border: none;
					cursor: pointer;
					transition: all 0.2s ease;
				}

				.toolbox__btn:hover{
					background: rgb(52, 142, 231);
				}

				.toolbox__number {
					padding: 15px;
					max-width: 70px;
					align-items: center;
					border-radius: 15px;
					border: none;
					font-size: 15px;
				}

				.toolbox__color {
					padding: 10px 10px;
					height: 50px;
					width: 70px;
					max-width: 70px;
					margin: 9px 0px;
					border-radius: 5px;
					border: none;
				}
			}

			.drawing-table {
				width: 200px;
				height: 500px;
			}
		}

		.drawing-table {
			border: 1px solid gold;
			width: 100%;
			height: 500px;
			border: 1px solid lime;
		}
	}
}
